
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
    scroll-behavior: smooth;
}


body {
    background-color: #f4f4f4;
}

/* ========================= */
/*         NAVIGATION        */
/* ========================= */

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    background-color: transparent;
}

.navImage img {
    width: 213px;
    height: 126px;
}

.navBtn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sectionBtn {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 70px;
}

.sectionBtn li {
    display: inline;
}

.sectionBtn a {
    text-decoration: none;
    color: #2766C0;
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 25px;
}

.sectionBtn a:hover {
    color: #ffcc00;
}

.enterBtn {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.login-button {
    padding: 0px 40px;
    background-color: transparent;
    color: #FF8835;
    font-weight: bold;
}

.login-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.sign-up-button {
    padding: 15px 40px;
    background-color: #ffcc00;
    color: #333333;
    font-weight: 550;
    box-shadow: 0 4px 6px rgba(206, 169, 6, 0.61);
}

.sign-up-button:hover {
    background-color: #e6b800;
    transform: scale(1.05);
}

/* ========================= */
/*        HERO SECTION       */
/* ========================= */

#hero {
    padding: 1rem 11rem;
}

.heroContent {
    position: relative;
    padding: 0;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 400;
    color: #FEFCFB;
    display: flex;

    background: 
    url('images/abstract1.png') no-repeat -1% 4%,   
    url('images/abstract4.png') no-repeat 58% 48%,  
    url('images/abstract3.png') no-repeat 124% -450%,
    url('images/airplane.png') no-repeat 60% 5%,
    url('images/bag\ 1.png') no-repeat 32% 93%,
    url('images/bag\ 2.png') no-repeat 43% 97%;
    background-blend-mode: color-burn, color-burn, normal, screen, screen, screen; 
    background-size: 46%, 50%, 600px, 320px, 85px, 150px;
    background-color: #2766C0;
}

.leftSideHero {
    padding:  60px 100px;
    line-height: 1.6;
}

.heroTitle {
    color: #FF8835;
    font-size: 68px;
    font-weight: 550;
    letter-spacing: 0.8rem;
    font-family: "Anton", sans-serif;
    margin: 0 50px 0 0;
}

.heroSubtitle {
    padding: 20px 0;
    font-weight: 550;
}

.paragraph1 {
    padding: 20px 0;
}

.hero .highlight {
    color: #FED516;
}

.text1 {
    font-size: 20px;
    font-weight: bold;
}

.text2 {
    font-size: 20px;
    font-weight: 550;
}

.ctaButton {
    background-color: #FED516;
    color: #333333;
    padding: 15px 30px;
    margin: 40px 0 70px 0;
}

.ctaButton:hover {
    background-color: #e6b800;
    transform: scale(1.05);
}

/* ========================= */
/*     HERO IMAGE SECTION    */
/* ========================= */

.heroContainer {
    position: relative;
    width: 50%;
    display: block;
}

.heroImage {
    position: absolute;
    top: -29px;
    right: -30px;
}

.heroImage img {
    width: 40.5vw;
    clip-path: inset(0 45px 127.5px 0);
}

/* ========================= */
/*     ABOUT US SECTION      */
/* ========================= */

#aboutUs{
    padding: 50px 330px;
}

.aboutUsTitle {
    text-align: center;
    font-size: 50px;
    font-weight: 550;
    color: #5DA4FF;
    font-family: 'Anton';
    margin: 90px 0 50px 0;
}

.aboutUsTitle .highlight{
    color: #2766C0;
    font-weight: 550;
    font-family: 'Anton';
}

.aboutUsBox {
    justify-items: center;
    padding: 80px;
    background-color: #FED516;
    
}

.thePrimeVisa {
    color: #2766C0;
    text-decoration: underline;
    font-size: 25px;
    font-weight: bold;
    margin: 23px auto 0 0;
}

.aboutUsBox .paragraphs p{
    font-size: 25px;
    font-weight: 550;
    padding: 20px 0;
    line-height: 40px;
}

/* ========================= */
/*  WHY CHOOSE US  SECTION   */
/* ========================= */

#whyChooseUs {
    padding: 50px 350px;
}

.whyChooseUsTitle {
    text-align: center;
    font-size: 50px;
    font-weight: 550;
    color: #5DA4FF;
    font-family: 'Anton';
    margin: 90px 0 50px 0;
}

.whyChooseUsTitle .highlight {
    color: #2766C0;
    font-weight: 550;
    font-family: 'Anton';
}

.whyChooseUsContainer {
    background-color: #FF883580;
    padding: 50px 80px;
}

.whyChooseUsContainer ul {
    list-style-position: outside;
    font-size: 25px;
}

/* ========================= */
/*      OUR COMMUNITY        */
/* ========================= */

#ourCommunity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; 
}

.communityTitle {
    text-align: center;
    font-size: 50px;
    font-weight: 550;
    color: #5DA4FF;
    font-family: 'Anton';
}

.communityTitle .highlight {
    color: #2766C0;
    font-weight: 550;
    font-family: 'Anton';
}

.communityBox {
    position: relative;
    width: 1000px; 
    border-radius: 15px;
    overflow: hidden;
}

.communityBox img {
    width: 100%;
    display: block;
    border-radius: 15px;
    clip-path: inset(155px 0 160px 0);
}

.overlay {
    border-radius: 15px;
    position: absolute;
    top: 155px;
    left: 0;
    width: 100%;
    height: 53%;
    background: rgba(0, 123, 255, 0.5); 
}

/* ========================= */
/*        CONTACT US         */
/* ========================= */

#contactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 190px;
}

.contactUsTitle {
    text-align: center;
    font-size: 50px;
    font-weight: 550;
    color: #5DA4FF;
    font-family: 'Anton';
}

.contactUsTitle .highlight {
    color: #2766C0;
    font-weight: 550;
    font-family: 'Anton';
}

.infoItem {
    padding: 5rem;
}

.infoItem .items{
    padding: 20px;
    font-size: 25px;
}

.infoItem .items h4{
    font-weight: 550;
    font-family: 'anton';
}

/* ========================= */
/*          FOOTER           */
/* ========================= */
.footerSection {
    position: relative;
}

.header {
    background-color: #ffb310ca;
    color: white;
    text-align: center;
    padding: 100px 300px;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    top: -25%;  
    left: 20%;
    z-index: 10;

    /* BACKGROUND IMAGE */
    
    background-image: url(images/calendar.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -1px -200px;
    background-blend-mode: color-burn;
}

.header h2 {
    font-family: 'anton';
    color: #2766C0;
    font-weight: 550;
    font-size: 35px;
}

.inputContainer {
    margin-top: 20px;
    position: relative; 
    display: flex;
    align-items: center;
    width: 550px; 
}

.inputContainer input {
    padding: 15px;
    width: 150%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 200px; 
}

.inputContainer button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff5722;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.inputContainer button:hover {
    background-color: #d1380a;
}

footer {
    background-color: #1565c0;
    color: white;
    padding: 150px 0;
    position: relative;
}

.footerContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 300px;
    margin: 150px 0 0px 0;
    line-height: 2;
}

.links h4, h3 {
    color: #FED516;
    font-weight: 550;
    margin-bottom: 10px;
    font-family: 'anton';
}

.brand .footerImage img{
    width: 7vw;
}

.links p, .brand p {
    margin: 5px 0;
}

.links p:hover {
    text-decoration: underline;
    cursor: pointer;
}
.socialIcons i {
    font-size: 24px;
    margin: 20px 10px;
}

.socialIcons i:hover{
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    width: 60%; 
    background-color: #90a4ae; 
    margin: 0 auto 0 auto;
    transform: translateY(60px);
}

.footerDown .terms {
    display: flex;
    font-size: 14px;
    gap: 35%;
    text-align: center;
    justify-content: center;
    transform: translateY(100px);
}

.term:hover {
    text-decoration: underline;
    cursor: pointer;
}
